/* Mobile */

@media (max-width: 768px) {
  .nav-bar {
    padding: 10px 15px;

    font-size: 1rem;
  }

  .head-logo {
    font-size: 1.5rem;
  }

  .right-nav ul {
    gap: 15px;
  }
  .container {
    gap: 0.6rem;
  }
  #hours,
  #minutes,
  #seconds,
  #hours-timer,
  #minutes-timer,
  #seconds-timer {
    font-size: 3rem;
  }
.pause,.play,.reset{
  margin-top: 1rem;
  font-size: 1.5rem;
}

  #day-year {
    font-size: 1rem;
  }
  .settings-panel {
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
  }

  .nav-bar {
    position: relative;
    z-index: 2000;
  }

  .settings-panel::-webkit-scrollbar {
    width: 8px;
  }
  .settings-panel::-webkit-scrollbar-track {
    background: #111;
  }
  .settings-panel::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
  }
  .settings-panel::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  .move-clock {
    transform: translateX(-120px);
  }
}

/* Tablet */

@media (max-width: 1024px) {
  .settings-panel {
    width: 280px;
  }

  .nav-bar {
    padding: 15px 20px;
  }
}
