@font-face {
  font-family: "Quartz-Regular";
  src: url("/mini-project/digital-clock/assets/QuartzMSRegular.TTF");
}
@font-face {
  font-family: "klien-condensed";
  src: url("/mini-project/digital-clock/assets/DIN-Condensed-Bold.ttf");
}
@font-face {
  font-family: "Corporate";
  src: url("/mini-project/digital-clock/assets/fonnts.com-Corporate_S_Pro_ExtraBold_Italic.otf");
}
:root {
  --primary-bg-color: rgb(0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: #ffffff;
}

/* Header bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
/* Header Right Nava bar */

.right-nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
  cursor: pointer;
}

/* Time Clock */

.container {
  display: flex;
  justify-content: center;
  gap: 3rem;

  margin-top: 12rem;
}
#hours,
#minutes,
#seconds {
  font-family: "Quartz-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
}
#day-year {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Corporate", sans-serif;
  font-size: 1.7rem;
}
/* Settings aside bar */

.aside-nav {
  position: absolute;
  right: 1rem;
  top: 5rem;
}

.nav-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head-logo {
  font-family: "klien-condensed", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.template-mode {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.clock-template-mode {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid #333;
  border-radius: 15px;

  padding: 10px;
  width: 200px;

  background: #0b0b0b;
  cursor: pointer;
}

.time {
  background: black;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
}

.name {
  font-size: 1rem;
  font-weight: bold;
}
.day-time-container {
  transition: transform 0.4s ease;
}
.move-clock {
  transform: translateX(-120px);
}

/* Different colors */

.blue-theme-btn .time {
  color: #66b8f0;
}

.red-theme-btn .time {
  color: #953628;
}

.orange-theme-btn .time {
  background-color: #fb7c00;
  color: rgb(0, 0, 0);
}
.settings-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;

  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.show-panel {
  transform: translateX(0);
}

/* Toggle day and Year */
.clock-template-mode-day {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}
#toggle {
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.active {
  color: #007bff;
}


/* Mobile */

@media (max-width: 768px) {
  .nav-bar {
    padding: 10px 15px;

    font-size: 1rem;
  }

  .head-logo {
    font-size: 1.5rem;
  }

  .right-nav ul {
    gap: 15px;
  }
  .container {
    gap: 0.6rem;
  }
  #hours,
  #minutes,
  #seconds {
    font-size: 3rem;
  }
  #day-year {
    font-size: 1rem;
  }
  .settings-panel {
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
  }

  .nav-bar {
    position: relative;
    z-index: 2000;
  }

  .settings-panel::-webkit-scrollbar {
    width: 8px;
  }
  .settings-panel::-webkit-scrollbar-track {
    background: #111;
  }
  .settings-panel::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
  }
  .settings-panel::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  .move-clock {
    transform: translateX(-120px);
  }
}

/* Tablet */

@media (max-width: 1024px) {
  .settings-panel {
    width: 280px;
  }

  .nav-bar {
    padding: 15px 20px;
  }
}
