@font-face {
  font-family: "Quartz-Regular";
  src: url("./assets/QuartzMSRegular.TTF");
}
@font-face {
  font-family: "klien-condensed";
  src: url("./assets/DIN-Condensed-Bold.ttf");
}
@font-face {
  font-family: "Corporate";
  src: url("./assets/fonnts.com-Corporate_S_Pro_ExtraBold_Italic.otf");
}
@font-face {
  font-family: "fact_narrow";
  src: url("./assets/Fact_Narrow-Bold.otf");
}
@font-face {
  font-family: "fabrizio";
  src: url(./assets/Fabrizio-Regular.otf);
}
:root {
  --primary-bg-color: rgb(0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: #ffffff;
}

/* Header bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
/* Header Right Nava bar */

.right-nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
  cursor: pointer;
}
.clock-mode {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  cursor: pointer;
}
.head-logo {
  font-family: "fabrizio", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

/* Hover Effects for Timer and Clock */
.live-mode,
.timer-mode {
  position: relative;
  cursor: pointer;
  font-family: "fact_narrow", sans-serif;
}

.live-mode::after,
.timer-mode::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: #ffffff;
  transition: width 0.3s ease;
}

.live-mode:hover::after,
.timer-mode:hover::after {
  width: 100%;
}

/* Time Clock */

.container {
  display: flex;
  justify-content: center;
  gap: 3rem;

  margin-top: 12rem;
}
#hours,
#minutes,
#seconds,
#hours-timer,
#minutes-timer,
#seconds-timer {
  font-family: "Quartz-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
}
/* btn change for pause play reset */
.active-btn {
  color: #00ff88;
}
.play,
.pause,
.reset {
  font-size: 2rem;
  cursor: pointer;
}
#timer-controls {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}
.day-time-container {
  display: none;
}
.timer-container {
  display: none;
}

.show {
  display: block;
}

#day-year {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Corporate", sans-serif;
  font-size: 1.7rem;
}
/* Settings aside bar */

.aside-nav {
  position: absolute;
  right: 1rem;
  top: 5rem;
}

.nav-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.template-mode {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.clock-template-mode {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid #333;
  border-radius: 15px;

  padding: 10px;
  width: 200px;

  background: #0b0b0b;
  cursor: pointer;
}

.time {
  background: black;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
}

.name {
  font-size: 1rem;
  font-weight: bold;
}
.day-time-container,
.timer-container {
  transition: transform 0.4s ease;
}
.move-clock {
  transform: translateX(-120px);
}

/* Different colors */

.blue-theme-btn .time {
  color: #66b8f0;
}

.red-theme-btn .time {
  color: #953628;
}

.orange-theme-btn .time {
  background-color: #fb7c00;
  color: rgb(0, 0, 0);
}
.settings-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;

  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.show-panel {
  transform: translateX(0);
}

/* Toggle day and Year */
.clock-template-mode-day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#toggle {
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.active {
  color: #007bff;
}
